@font-face {
  font-family: YekanBakh;
  font-weight: 500;
  src: url(../../public/fonts/fat/YekanBakh-Fat.woff),
    url(../../public/fonts/fat/YekanBakh-Fat.woff2),
    url(../../public/fonts/fat/YekanBakh-Fat.ttf),
    url(../../public/fonts/fat/YekanBakh-Fat.eot);
}

@font-face {
  font-family: YekanBakh;
  font-weight: 400;
  src: url(../../public/fonts/bold/YekanBakh-Bold.woff),
    url(../../public/fonts/bold/YekanBakh-Bold.woff2),
    url(../../public/fonts/bold/YekanBakh-Bold.ttf),
    url(../../public/fonts/bold/YekanBakh-Bold.eot);
}

@font-face {
  font-family: YekanBakh;
  font-weight: 300;
  src: url(../../public/fonts/medium/YekanBakh-Medium.woff),
  url(../../public/fonts/medium/YekanBakh-Medium.woff2),
  url(../../public/fonts/medium/YekanBakh-Medium.ttf),
  url(../../public/fonts/medium/YekanBakh-Medium.eot);
}

@font-face {
  font-family: YekanBakh;
  font-weight: 200;
  src: url(../../public/fonts/regular/YekanBakh-Regular.woff),
  url(../../public/fonts/regular/YekanBakh-Regular.woff2),
  url(../../public/fonts/regular/YekanBakh-Regular.ttf),
  url(../../public/fonts/regular/YekanBakh-Regular.eot);
}

@font-face {
  font-family: YekanBakh;
  font-weight: 100;
  src: url(../../public/fonts/light/YekanBakh-Light.woff),
    url(../../public/fonts/light/YekanBakh-Light.woff2),
    url(../../public/fonts/light/YekanBakh-Light.ttf),
    url(../../public/fonts/light/YekanBakh-Light.eot);
}